a{color: #95b359;}
a:hover{color:#4e5f2c;}

.link:hover{color:#95b359;}

#logo{background:url(../../images/color/green/logo.png) no-repeat;}

#menu ul a:hover{color:#95b359 !important;}
#menu ul{border-top:1px solid #95b359 !important;}

.slider-bg{background:url(../../images/color/green/slider-bg.jpg) no-repeat top center;}

.header-text{background:url(../../images/color/green/header-text-bg.jpg) no-repeat;}

span#prevBtn a{background:url(../../images/color/green/bt-prev.png) no-repeat 0 0;}
span#nextBtn a{background:url(../../images/color/green/bt-next.png) no-repeat 0 0;}

.events-home .events-date{color:#95b359;}

.bt.red{text-shadow:1px 1px #637d2e; color:#fff; background-image:url(../../images/color/green/bt-green.jpg);}
.bt.red:hover{color:#3e501a !important; text-shadow:1px 1px #a4c264;}

.bt.white{text-shadow:1px 1px #fff; color:#95b359 !important; background-image:url(../../images/bt-white.jpg);}
.bt.white:hover{color:#4e5f2c !important; text-shadow:1px 1px #fff;}

.title a:hover{color:#95b359 !important;}

.events .events-date{color:#95b359;}

ul.tag li{border-bottom:1px solid #b9d484;}

.tabs li.active{color:#fff; background-color:#95b359;}

.highlight{background-color:#95b359;}

blockquote p{border-left:5px solid #95b359;}

.pricing-box h3{color:#95b359;}  

.tab-page{border-left:6px solid #95b359;}